// FOR SECTIONAL HEADERS
.heavy {
    background-color: rgba(238, 0, 206, 0.8);
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// FOR THE 2 GIFURE SECTIONS
.grid>* {
    margin: 0;
}

.grid {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    max-width: 100%;
    list-style: none;
    text-align: center;

    figure {
        flex: 1 0 25%;
        position: relative;
        overflow: hidden;
        min-width: 320px;
        height: 600px;
        text-align: center;
        cursor: pointer;

        h2 {
            word-spacing: -0.15em;
            font-weight: 800;
            font-size: 50px;
            transform: rotate(0deg);
            margin: 0;
        }

        p {
            letter-spacing: 1px;
            font-size: 25px;
            margin: 0;
        }

        img {
            position: relative;
            display: block;
            min-height: 100%;
            max-width: 100%;
            opacity: 0.8;
        }

        figcaption {
            padding: 2em;
            color: #fff;
            text-transform: uppercase;
            font-size: 1.25em;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
    }
}


.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &>a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
    }
}


figure.effect-dexter {
    background: -webkit-linear-gradient(top, rgba(37, 141, 200, 1) 0%, rgba(104, 60, 19, 1) 100%);
    background: linear-gradient(to bottom, rgba(37, 141, 200, 1) 0%, rgba(104, 60, 19, 1) 100%);

    img {
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
    }


    &:hover img {
        opacity: 0.4;
    }

    p {
        position: absolute;
        right: 60px;
        bottom: 60px;
        left: 60px;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(0, -100px, 0);
        transform: translate3d(0, -100px, 0);
    }

    &:hover p {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    figcaption {
        padding: 3em;
        text-align: left;

        &::after {
            position: absolute;
            right: 30px;
            bottom: 30px;
            left: 30px;
            height: -webkit-calc(50% - 30px);
            height: calc(50% - 30px);
            border: 7px solid #fff;
            content: '';
            -webkit-transition: -webkit-transform 0.35s;
            transition: transform 0.35s;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }
    }

    &:hover figcaption::after {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

/*---------------*/
/***** Jazz *****/
/*---------------*/

figure.effect-jazz {
    background: -webkit-linear-gradient(-45deg, #f3cf3f 0%, #f33f58 100%);
    background: linear-gradient(-45deg, #f3cf3f 0%, #f33f58 100%);

    &:hover {

        img {
            opacity: 0.7;
            -webkit-transform: scale3d(1.05, 1.05, 1);
            transform: scale3d(1.05, 1.05, 1);
        }

        figcaption::after {
            opacity: 1;
            -webkit-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
            transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
        }

        h2 {
            opacity: 1;
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }

        p {
            opacity: 1;
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }

    }

    img {
        opacity: 0.9;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
    }

    p {
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        opacity: 1;
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
        padding: 0.5em 2em;
        text-transform: none;
        font-size: 0.85em;
        opacity: 0;
    }

    h2 {
        opacity: 1;
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
        padding-top: 26%;
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
    }


    figcaption::after {
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        content: '';
        opacity: 0;
        -webkit-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
        transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
}

.expertise h5 ul a {
    color: white;
    text-decoration: none;
}

.founders img {
    width: 100%;
}

.founders .container {
    position: relative;
    width: 100%;
}

.founders .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(238, 0, 206, 1);
}

.founders .container:hover .overlay {
    opacity: 1;
}

.founders .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.founders .text h2 {
    transform: rotate(0deg);
}


@media only screen and (max-width:1460px) {
    .grid figure {
        flex: 1 0 50%
    }
}