.heavy {
    background-color: rgba(238, 0, 206, 0.8);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.career-container h2 {
    transform: rotate(0deg);
}

.career-item1 a:hover,
.career-item2 a:hover {
    text-decoration: underline;
}

.career-item1 li a,
.career-item1 li a {
    text-decoration: none;
}

.career-item1 li,
.career-item2 li {
    list-style-type: none;
    color: white;
}

.career-item1 .container,
.career-item2 .container {
    width: 100%;
    background-color: lightblue;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.career-item1 {
    float: left;
    padding-right: 50px;
    width: 45%;
}

.career-item2 {
    float: right;
    padding-left: 50px;
    width: 45%;
}

.career-item1 h2,
.career-item2 h2 {
    text-align: center;
}

.career-item2 p,
.career-item1 p {
    padding-top: 30px;
}