.heavy {
  background-color: rgba(238, 0, 206, 0.8);
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid > * {
  margin: 0;
}

.grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  max-width: 100%;
  list-style: none;
  text-align: center;
}

/* Common style */
.grid figure {
  flex: 1 0 25%;
  position: relative;
  overflow: hidden;
  min-width: 320px;
  height: 600px;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 800;
  font-size: 50px;
  transform: rotate(0deg);
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 25px;
}

figure.effect-dexter {
  background: linear-gradient(to bottom, #258dc8 0%, #683c13 100%);
}

figure.effect-dexter img {
  transition: opacity 0.35s;
}

figure.effect-dexter:hover img {
  opacity: 0.4;
}

figure.effect-dexter figcaption::after {
  position: absolute;
  right: 30px;
  bottom: 30px;
  left: 30px;
  height: calc(50% - 30px);
  border: 7px solid #fff;
  content: '';
  transition: transform 0.35s;
  transform: translate3d(0, -100%, 0);
}

figure.effect-dexter:hover figcaption::after {
  transform: translate3d(0, 0, 0);
}

figure.effect-dexter figcaption {
  padding: 3em;
  text-align: left;
}

figure.effect-dexter p {
  position: absolute;
  right: 60px;
  bottom: 60px;
  left: 60px;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(0, -100px, 0);
}

figure.effect-dexter:hover p {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/*---------------*/
/***** Jazz *****/
/*---------------*/
figure.effect-jazz {
  background: linear-gradient(-45deg, #f3cf3f 0%, #f33f58 100%);
}

figure.effect-jazz img {
  opacity: 0.9;
}

figure.effect-jazz figcaption::after,
figure.effect-jazz img,
figure.effect-jazz p {
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-jazz figcaption::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  content: '';
  opacity: 0;
  transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
  transform-origin: 50% 50%;
}

figure.effect-jazz h2,
figure.effect-jazz p {
  opacity: 1;
  transform: scale3d(0.8, 0.8, 1);
}

figure.effect-jazz h2 {
  padding-top: 26%;
  transition: transform 0.35s;
}

figure.effect-jazz p {
  padding: 0.5em 2em;
  text-transform: none;
  font-size: 0.85em;
  opacity: 0;
}

figure.effect-jazz:hover img {
  opacity: 0.7;
  transform: scale3d(1.05, 1.05, 1);
}

figure.effect-jazz:hover figcaption::after {
  opacity: 1;
  transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
}

figure.effect-jazz:hover h2,
figure.effect-jazz:hover p {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

.expertise h5 ul a {
  color: white;
  text-decoration: none;
}

.founders img {
  width: 100%;
}

.founders .container {
  position: relative;
  width: 100%;
}

.founders .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ee00ce;
}

.founders .container:hover .overlay {
  opacity: 1;
}

.founders .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.founders .text h2 {
  transform: rotate(0deg);
}

@media only screen and (max-width: 1460px) {
  .grid figure {
    flex: 1 0 50%;
  }
}
