.homeplate-container {
  position: absolute;
  top: 0;
  left: 200px;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: transparent;
  overflow: hidden;
}

.homeplate-container .homeplate-article {
  text-align: center;
  width: calc(100% - 200px);
  height: calc(100% - 100px);
  background-color: transparent;
}

.accordion {
  position: absolute;
  margin: -60px 0 0 0;
  text-align: center;
  height: calc(100% - 100px);
  width: 100%;
  display: flex;
}

.accordion h2 {
  transform: translateX(0) translateY(0) rotate(-90deg);
  font-size: 30px;
  margin: auto;
}

.item1, .item2, .item3, .item4, .item5 {
  background-color: #ff207922;
  cursor: pointer;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-collapse: collapse;
  /* border: 1px solid #00218a; */
  z-index: 25;
  color: #92c9fc;
}

.info1.active,
.info2.active,
.info3.active,
.info4.active,
.info5.active {
  width: 100%;
  transition: 0.5s all;
}

.inactive {
  width: 0;
  transition: 0.5s all;
}

.info1, .info2, .info3, .info4, .info5 {
  position: relative;
  background-color: #0232cfbb;
  color: white;
  transition: 0.5s all;
  width: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.info1 div, .info2 div, .info3 div, .info4 div, .info5 div {
  color: white;
}

@media only screen and (max-width: 699px) {
  .homeplate-container {
    top: 200px;
    left: 0;
    height: calc(100% - 200px);
    width: 100%;
  }
  .homeplate-container .homeplate-article {
    width: 100%;
  }
  .accordion {
    flex-direction: column;
    height: calc(100% - 100px);
  }
  .accordion div h2 {
    transform: rotate(0deg);
  }
  .item1, .item2, .item3, .item4, .item5 {
    width: 100%;
    height: 40px;
  }
  .info1.active,
  .info2.active,
  .info3.active,
  .info4.active,
  .info5.active {
    height: 100%;
    transition: 0.5s all;
  }
  .inactive {
    height: 0;
    transition: 0.5s all;
  }
  .info1, .info2, .info3, .info4, .info5 {
    width: 100%;
    height: 0;
  }
}
