section {
    margin: -60px 0 0 0;
    text-align: center;
    height: 100vh;
    width: 100vw;
    display: flex;
}

section h2 {
    transform: rotate(-90deg);
}

.item1,.item2,.item3,.item4 {
    background-color: #95a5a6;
    border: 1px solid #7f8c8d;
    cursor: pointer;
    min-width: 3%;
    display:flex;
    align-items: center;
    justify-content:center;
}

.info1.active,
.info2.active,
.info3.active,
.info4.active {
    width: 100%;
    transition: 0.5s all;
}

.inactive {
    width: 0;
    transition: 0.5s all;
}

.info1, .info2, .info3, .info4 {
    background-color: #ecf0f1;
    color: #222;
    overflow: hidden;
    transition: 0.5s all;
    width: 0;
}

