/*root styling*/
:root {
  --light: #eaec76;
  --secondary: #8494a3;
  --dark: #3d4853;
  --primary-color: #f15bb5;
  --secondary-color: #2ec4b6;
  --border: #e9ecef;
}

/*global styling*/
.text-light {
  color: var(--light);
}

.text-secondary {
  color: var(--secondary);
}

.text-dark {
  color: var(--dark);
}

.text-primary {
  color: var(--primary-color);
}

.bg-light {
  background-color: var(--light);
}

.info5 .container {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
  color: white;
}

.img-fluid {
  width: 100%;
}

.text-title {
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
}

.secondary-title {
  font-family: 'poppins', sans-serif;
}

.display-1 {
  font-size: 22px;
}

.display-2 {
  font-size: 20px;
}

.display-3 {
  font-size: 18px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.btn {
  padding: 15px 20px;
  border: none;
}

.btn-primary {
  border-radius: 4px;
  background-color: var(--secondary-color);
}

/*section styling*/
/*-----Navigation Menu-----*/
.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.nav-brand {
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  align-self: center;
  font-size: 32px;
}

.collapse {
  align-self: center;
}

.nav-link {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  margin: 12px;
  color: var(--dark);
}

.nav-link:hover {
  color: var(--primary-color);
}

.search-box {
  display: inline-block;
  border-right: 1px solid var(--secondary);
  padding-right: 12px;
  margin-right: 10px;
}

.toggle button {
  font-size: 21px;
  background-color: transparent;
  border: none;
  position: right;
  right: 0;
  margin: 8px 10px;
}

.toggle button:focus {
  outline: none;
}

/*-----.Navigation Menu-----*/
/*------Main------*/
#site-main {
  margin-top: 8em;
}

#posts {
  margin-bottom: 5em;
}

.grid {
  margin: 0 auto;
}

.grid .grid-item {
  width: calc(33.3333%-20px);
  margin-bottom: 3em;
  background-color: #f15bb5;
}

/*------.Main------*/
/*Media Query*/
@media (max-width: 992px) {
  .navbar {
    flex-direction: column;
  }
}

@media (max-width: 574px) {
  .toggle-button {
    display: initial;
  }
  .collapse {
    max-height: 0;
    overflow: hidden;
    transition: all 0.8s cubic-bezier(0.51, -0.15, 0, 0.98);
  }
  .collapse .nav-link {
    display: block;
    text-align: center;
  }
  .search-box {
    border-right: none;
  }
  .collapse-toggle {
    max-height: 500px;
  }
}
