/* body {
    margin: 0;
    background-color: #1d1e22;
}

#parallax1 {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-image: 
    url(/assets/images/videoplayback.webm);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 500px 500px;
}

h1 {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Arial";
    text-transform: uppercase;
    opacity: .2;
    font-size: 70px;
} */