.services-container {
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  left: 0;
}

.yellow {
  background: yellow;
}

.blue {
  background: #0000ee;
}

.services-container img {
  height: 500px;
}

.service-container h1,
.service-container h2,
.service-container h3,
.service-container h4 {
  transform: rotate(0deg) !important;
}

.services-container figure {
  background-color: rgba(238, 0, 206, 0.247);
  margin: -5px !important;
}

.services-container figure img {
  width: 250px;
  max-height: 300px;
  margin-bottom: 50px;
}

.services-container figure h2 {
  transform: rotate(0deg) !important;
  font-weight: 700;
}

.heavy {
  background-color: rgba(238, 0, 206, 0.8);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heavy h1 {
  font-weight: bolder;
}

.heading {
  font-weight: bold;
  font-size: 66px;
}

.sub-heading {
  padding: 8px 0 8px 0;
  margin-top: 20px;
  margin-bottom: 35px;
}

.card {
  padding: 8%;
  padding-bottom: 30px;
  padding-top: 35px;
  background-color: transparent;
  border-radius: 0;
}

textarea[name="message"] {
  resize: none;
}

#e-mail {
  height: 45px;
}

#message {
  height: 120px;
}

input.input-box,
textarea.input-box {
  background-color: #E0E0E0;
  border: #616161;
  color: #000000;
  font-size: 15px;
  padding: 15px auto 15px auto !important;
  height: 50px !important;
}

input.input-box:focus,
textarea.input-box:focus {
  background-color: #212121;
  color: #ffffff;
}

.rm-border:focus {
  border-color: inherit;
  box-shadow: none;
}

form .form-control::-webkit-input-placeholder {
  color: #9E9E9E;
}

::-moz-placeholder {
  color: #9E9E9E !important;
}

input.btn-black {
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  height: 50px;
}

.thanks {
  color: #000000 !important;
  text-align: center;
}

.thanks:hover {
  color: #000000 !important;
  text-decoration: underline;
}

.conditions {
  font-size: 12px;
  color: #BDBDBD;
  text-align: center;
}
